<section id="about" class="row section-alignment-center">
  <div class="col l12 center-text">
    <h1>About Me</h1>
    <div class="col l8 s12">
      <div class="small-text">
        <p>Hello, I'm Steve Two Two.  Before we go on, let's knock out the elephant ……. not in the room, but on this page.  My last name is actually Two Two, just like you see it.  My last name comes from my Native American heritage.  And yes, it was a very challenging name to grow up with; we all remember how fun grade school was with odd names.  However now it's a great conversation starter!</p><br>
        <p>I've been in various training and leadership positions over the last 12 years.  My experience includes leading and guiding a team of trainers for the nation's 13th largest cable company, training for the world's number one online streaming provider, and leading a team for one of the nation's top retailers.</p>
        <p>In my time I have had experience with delivering training through multiple methods, challenging timelines, and various audience sizes.</p>
        <p>I have three key guiding principles when building and delivering training content.</p>
      </div>
    </div>
    <div class="row">
      <div class="col l4">
        <%= image_tag 'steve.JPG', class: 'smaller hide-on-med-and-down' %>
      </div>
    </div>
  </div>
</section>

<section id="memorable-panel" class="row section-alignment-center">
  <div class="col l12 center-text">
    <h3>Make it memorable.</h3>
    <p>It's one of the staples of adult learning, people learn best when they create a memory.  It's important to make the information easy to digest, while still blending in the right about of fun and humor.</p>
  </div>
</section>

<section id="make-it-panel" class="row section-alignment-center">
  <div class="col l12 center-text">
    <h3>Make it your own.</h3>
    <p>Think back to the various companies you have called to speak with.  Was it easy to identify the scripted customer service agents, versus the non-scripted?  I'm willing to bet so, because non-scripted agents will always tend to show more compassion and dedication to their craft.  This is same example can be applied to instructional design.  We've all probably taken an online (or in-person) training course, and have felt the same thing as the call example.  The training can be very generic to the point of boredom.  I strongly believe training needs to work with the company's culture and its employees.</p>
  </div>
</section>

<section id="measurable-panel"class="row section-alignment-center">
  <div class="col l12 center-text">
    <h3>Make it measurable.</h3>
    <p>As a business leader, the cost of training can be very high.  Due to this it is important that all training has the ability to be measured and to build the story for your investment.  High caliber talent will always tend to stay where they feel valued and developed.</p>
  </div>
</section>

<script type="text/javascript">
  if(window.location.href.substr(-2) !== "?r") {
    window.location = window.location.href + "?r";
  }
</script>
