<div class="container row">
  <% @objects.each do |blog| %>

  <div class="col s12">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <h5>  <%= blog['raw']['fields']['title_id'] %></h5>
          <p><%= blog['raw']['fields']['body_id'] %><br></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
