<section id="first-panel">
  <div class="center row container">
    <h3 class="white-text">Instructional Design | Facilitation  | Leadership Development | Consult</h3>
    <a href="/leads/new" class="btn center indigo lighten-2">Contact Me</a>
  </div>
</section>

<section id="second-panel">
  <%= video_tag "Wall-Sketching.mp4", :autobuffer => true, :autoplay => true, :loop => :loop %>
  <div class="row container">
    <h3 class="second-panel-text">Flexible & Customized Solutions</h3>
  </div>
</section>



  <!-- <div class="third-panel">
    <div class="container">
      <div class="center">
        <h3 class="white-text ">Training solutions should fit around your business needs and your employee's schedules.</h3>
        <h5 class="white-text ">In every consult, I will always present 2-3 options for delivering the training that was selected.  It's important to have a choice, and hear the pros and cons of each solution.</h5>
        </div>
    </div>
  </div>

  <div class="four-panel">
    <div class="center">
      <h3>Learner, Performance, and Business Focused</h3>
    </div>
  </div>

  <div class="five-panel">
    <div class="center container white-text">
    <h3>"One sized solution fits all", is not the best way to develop your employees.</h3>
    <p>All training solutions should be tailored to your learner's needs and interests.   As part of our consult and even in the project I will be asking a lot of questions.  These questions will help me get to the heart of:</p>
    <ul>
      <li>What you as the leader, would define success of the training.</li>
      <li>What your learners already know, and where their gaps are.</li>
      <li>What your company culture is like, to help bring an organic feel to the training.</li>
    </ul>

    </div>
  </div> -->

</div>
