

<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">
      Bacon ipsum dolor amet kevin frankfurter spare ribs tail, leberkas fatback filet mignon short loin andouille beef ribs boudin. Swine picanha pastrami brisket, pancetta flank capicola spare ribs kevin short loin sirloin jerky short ribs. Andouille ball tip picanha venison, short loin biltong shank capicola tenderloin chicken alcatra pork belly doner. Rump burgdoggen bacon prosciutto. Ground round pork belly shank bresaola kevin cupim, rump andouille turducken tongue spare ribs burgdoggen chicken. Strip steak pig salami, ham jerky chicken sirloin kevin venison pork loin boudin swine. Pork loin bresaola spare ribs porchetta cow capicola sirloin short ribs short loin ball tip prosciutto landjaeger hamburger meatloaf.
    </p>
    <p class="grey-text text-darken-3 lighten-3">
      Pork chop short loin picanha venison frankfurter hamburger shank capicola turkey. Cupim flank kevin jowl pig corned beef porchetta pastrami chuck. Leberkas cow corned beef shank swine tri-tip alcatra kielbasa. Chicken shoulder t-bone ball tip, porchetta kielbasa ground round beef turducken doner pork belly. Ham swine short ribs t-bone meatloaf bresaola tongue chicken ribeye.
    </p>
    <p class="grey-text text-darken-3 lighten-3">
      Tongue t-bone andouille flank short loin jowl. Prosciutto pork belly bresaola, sausage alcatra spare ribs kielbasa turkey beef ground round short ribs meatball ball tip turducken filet mignon. Shoulder picanha alcatra pork belly. Salami tri-tip sirloin flank jerky, rump doner turkey kielbasa meatloaf. Pork belly turkey jowl ribeye ham. Frankfurter short ribs biltong, shoulder ribeye strip steak landjaeger fatback bresaola cow andouille porchetta sausage beef.
    </p>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><%= image_tag 'https://static.pexels.com/photos/40120/pexels-photo-40120.jpeg' %></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">
      Bacon ipsum dolor amet kevin frankfurter spare ribs tail, leberkas fatback filet mignon short loin andouille beef ribs boudin. Swine picanha pastrami brisket, pancetta flank capicola spare ribs kevin short loin sirloin jerky short ribs. Andouille ball tip picanha venison, short loin biltong shank capicola tenderloin chicken alcatra pork belly doner. Rump burgdoggen bacon prosciutto. Ground round pork belly shank bresaola kevin cupim, rump andouille turducken tongue spare ribs burgdoggen chicken. Strip steak pig salami, ham jerky chicken sirloin kevin venison pork loin boudin swine. Pork loin bresaola spare ribs porchetta cow capicola sirloin short ribs short loin ball tip prosciutto landjaeger hamburger meatloaf.
    </p>
    <p class="grey-text text-darken-3 lighten-3">
      Pork chop short loin picanha venison frankfurter hamburger shank capicola turkey. Cupim flank kevin jowl pig corned beef porchetta pastrami chuck. Leberkas cow corned beef shank swine tri-tip alcatra kielbasa. Chicken shoulder t-bone ball tip, porchetta kielbasa ground round beef turducken doner pork belly. Ham swine short ribs t-bone meatloaf bresaola tongue chicken ribeye.
    </p>
    <p class="grey-text text-darken-3 lighten-3">
      Tongue t-bone andouille flank short loin jowl. Prosciutto pork belly bresaola, sausage alcatra spare ribs kielbasa turkey beef ground round short ribs meatball ball tip turducken filet mignon. Shoulder picanha alcatra pork belly. Salami tri-tip sirloin flank jerky, rump doner turkey kielbasa meatloaf. Pork belly turkey jowl ribeye ham. Frankfurter short ribs biltong, shoulder ribeye strip steak landjaeger fatback bresaola cow andouille porchetta sausage beef.
    </p>
    <p class="grey-text text-darken-3 lighten-3">
      Picanha fatback andouille corned beef, short loin frankfurter jerky turducken pastrami capicola shoulder bacon sirloin. Burgdoggen beef turducken flank shoulder, frankfurter doner sirloin pancetta ball tip strip steak salami turkey. Flank chuck pastrami, short loin biltong strip steak t-bone boudin picanha salami short ribs beef frankfurter ball tip. Landjaeger ball tip pork ham shankle pork belly fatback boudin.
    </p>
    <p class="grey-text text-darken-3 lighten-3">
      Porchetta filet mignon pork chop burgdoggen turkey kielbasa beef short ribs swine pastrami cow sirloin. T-bone short ribs spare ribs ham hock pork kielbasa venison sirloin cupim beef ribs short loin salami swine. Filet mignon hamburger ground round turducken sirloin. Tenderloin ribeye strip steak, flank shank biltong doner frankfurter chuck cupim. Hamburger sausage meatloaf, ribeye drumstick tenderloin capicola strip steak biltong picanha shoulder porchetta meatball turducken prosciutto. Sausage tri-tip short loin boudin flank alcatra beef meatball meatloaf. Pastrami turkey short loin, shank sausage shoulder meatloaf chicken picanha.
    </p>
  </div>
</div>
