<section id="first-panel">
  <div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item red center">
      <p>Instructional Design</p>
    </div>
    <div class="carousel-item amber center">
      <p>Facilitation</p>
    </div>
    <div class="carousel-item green center">
      <p>Leadership Development</p>
    </div>
    <div class="carousel-item blue center">
      <p>Consult</p>
    </div>
  </div>
</section>

<section id="second-panel" class="center row">
  <%= video_tag "Wall-Sketching.mp4", :autobuffer => true, :autoplay => true, :loop => :loop %>
  <div class="container">
    <p class="second-panel-text">Flexible & Customized Solutions</p>
  </div>
</section>

<section id="third-panel" class="row center">
  <div class="container">
      <p>Training solutions should fit around your business needs and your employee's schedules.</p>
      <p>In every consult, I will always present 2-3 options for delivering the training that was selected.  It's important to have a choice, and hear the pros and cons of each solution.</p>
  </div>
</section>

<section id="fourth-panel" class="center row">
  <p>Learner, Performance, and Business Focused</p>
</section>

<section id="fith-panel" class="center row">
  <div class="container white-text">
    <p>"One sized solution fits all", is not the best way to develop your employees.</p>
    <p>All training solutions should be tailored to your learner's needs and interests.   As part of our consult and even in the project I will be asking a lot of questions.  These questions will help me get to the heart of:</p>
    <ul>
      <li>What you as the leader, would define success of the training.</li>
      <li>What your learners already know, and where their gaps are.</li>
      <li>What your company culture is like, to help bring an organic feel to the training.</li>
    </ul>
  </div>
</section>
