<div id="top">
  <%= image_tag('https://images5.alphacoders.com/351/351817.jpg') %>
  <h3 class="white-text center top-text">Instructional Design | Facilitation  | Leadership Development | Consult</h3>
</div>
