<section id="first-panel" class="row">
  <div class="carousel carousel-slider" data-indicators="true">
    <div class="carousel-item white">
      <div class="center-text">
        <p class="time-two">Instructional Design</p>
      </div>
    </div>
    <div class="carousel-item white">
      <div class="center-text">
        <p class="time-two">Facilitation</p>
      </div>
    </div>
    <div class="carousel-item white">
      <div class="center-text">
        <p class="time-two">Leadership Development</p>
      </div>
    </div>
    <div class="carousel-item white">
      <div class="center-text">
        <p>Consult</p>
      </div>
    </div>
  </div>
</section>

<section id="second-panel" class="row section-alignment-center">
  <%= video_tag "Wall-Sketching.mp4", :autobuffer => true, :autoplay => true, :loop => :loop %>
  <div class="col s12 center-text">
    <p class="second-panel-text">Flexible &amp; Customized Solutions</p>
  </div>
</section>

<section id="third-panel" class="row section-alignment-center">
  <div class="col s12 center-text">
      <h3>Training solutions should fit around your business needs and your employee's schedules.</h3>
      <p>In every consult, I will always present 2-3 options for delivering the training that was selected.  It's important to have a choice, and hear the pros and cons of each solution.</p>
  </div>
</section>

<section id="fourth-panel" class="row section-alignment-center">
  <div class="center-text col l12">
    <p>Learner, Performance, and Business Focused</p>
  </div>
</section>

<section id="fith-panel" class="section-alignment-center row">
  <div class="center-text col l12">
    <h3>"One sized solution fits all", is not the best way to develop your employees.</h3>
    <p>All training solutions should be tailored to your learner's needs and interests.   As part of our consult and even in the project I will be asking a lot of questions.  These questions will help me get to the heart of:</p>
    <ul>
      <li>What you as the leader, would define success of the training.</li>
      <li>What your learners already know, and where their gaps are.</li>
      <li>What your company culture is like, to help bring an organic feel to the training.</li>
    </ul>
  </div>
</section>

<script type="text/javascript">
   if(window.location.href.substr(-2) !== "?r") {
      window.location = window.location.href + "?r";
    }
</script>
