<section id="first-section" class="section-alignment-center">
  <%= video_tag "Wall-Sketching.mp4", :autobuffer => true, :autoplay => true, :loop => :loop %>
  <div  class="center-text row">
    <div class="col l12 s12">
      <h2>Training Solutions</h2>
    </div>
    <div class="row">

      <div class=" col l4 m12 s12">
        <a href="#New_Employee_Training"> New Employee Training / Onboarding</a><br>
        <a href="#Product">Product / Tool Training</a><br>
      </div>
      <div class="col l4 m12 s12">
        <a href="#Soft">Soft Skill / Behavior Training</a><br>
        <a href="#Leadership">Leadership Training</a><br>
        <a href="#Training">Training Consultant</a><br>
      </div>
      <div class="col l4 m12 s12">
        <a href="#Trainer">Trainer Development</a><br>
        <a href="#Facilitation">Facilitation Assistance</a><br>
      </div>
    </div>
  </section>

<section id="new-employee-training-panel" class="row section-alignment-center">
  <div class="col l12 center-text">
    <h2>New Employee Training / Onboarding</h2>
      <p>Whether you are building your new employee training from scratch, or if you want a consult of how to improve your new employee training; I can help breathe life into this for you.  Your employee's first impression of your company comes from your recruiting and training.</p>
  </div>
</section>

<section id="product-tool-panel" class="row section-alignment-center">
  <div class="col l12 center-text">
  <h2>Product / Tool Training</h2>
    <p>As all company's innovate and change to keep on top, so does your product training!  Product or tool updates should be delivered differently to new hires and to existing employees - and I can help bring this to both!</p>
  </div>
</section>

<section id="soft-skill-panel" class="row section-alignment-center">
  <div class="col l12 center-text">
  <h2>Soft Skill / Behavior Training</h2>
    <p>Some of the most challenging training to deliver and see impact from, is when you are trying to change the behavior or soft skills of an employee.  From my previous success of coaching, training , and mentoring in this area; I can help build a program that will allow you to measure the results.</p>
  </div>
</section>

<section id="leadership-training-panel" class="row section-alignment-center">
  <div class="col l12 center-text">
  <h2>Leadership Training</h2>
    <p>From coaching workshops to time management, I can help build training solutions to help enhance the leaders across your organization.</p>
  </div>
</section>

<section id="training-consultant-panel" class="row section-alignment-center">
  <div class="col l12 center-text">
  <h2>Training Consultant</h2>
    <p>Sometimes, you just need a second set of eyes.  I can help provide that for you!  Sometimes the best feedback comes from a neutral party.</p>
  </div>
</section>

<section id="facilitation-assistance-panel" class="row section-alignment-center">
  <div class="col l12 center-text">
  <h2>Facilitation Assistance</h2>
    <p>With over 10 years of training and facilitation experience, I can also lend my hand at delivering your employee training.  This can be done both virtually or in person, let's talk about the options that best fit your need!</p>
  </div>
</section>

<section id="trainer-development-panel" class="row section-alignment-center">
  <div class="col l12 center-text">
  <h2>Trainer Development</h2>
    <p>Many companies want to build their internal talent and promote from within.  This is great for employee satisfaction and for your culture.  However, sometimes the best Subject Matter Experts (SME's) are not always the best trainers.  I can help coach, develop, and mentor your trainer(s) to deliver engaging and impactful training!</p>
  </div>
</section>

<script type="text/javascript">
   if(window.location.href.substr(-2) !== "?r") {
      window.location = window.location.href + "?r";
    }
</script>
