---
http_interactions:
- request:
    method: post
    uri: https://api.insight.ly/v2.1/Leads
    body:
      encoding: UTF-8
      string: '{"LAST_NAME":{"first_name":"Test","last_name":"Testing","phone_number":"406-321-1234","email":"test@test.com"}}'
    headers:
      Authorization:
      - Basic OWU2N2U5OTMtYWU2My00YWZjLWI4NDgtNzFkMWFlMGNmMmE5Og==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Name":"apiLead.LAST_NAME","Message":"Unexpected character encountered
        while parsing value: {. Path ''LAST_NAME'', line 1, position 14."}]'
  recorded_at: Sun, 05 Mar 2017 20:03:49 GMT
recorded_with: VCR 3.0.3
