<!-- <meta http-equiv='refresh' content='0'> -->
<h2 class="center">Let's talk about training for your company!</h2>

<div class="container row">
  <%= render('form') %>
</div>

<script type="text/javascript">
   if(window.location.href.substr(-2) !== "?r") {
      window.location = window.location.href + "?r";
    }
</script>
