---
http_interactions:
- request:
    method: post
    uri: https://api.insight.ly/v2.1/Leads
    body:
      encoding: UTF-8
      string: '{"saluation":null,"title":null,"first_name":null,"last_name":"test","organization_name":null,"phone_number":"test","email_address":"test","website_url":null}'
    headers:
      Authorization:
      - Basic Og==
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"Authorization has been denied for this request."}'
  recorded_at: Tue, 07 Mar 2017 03:52:02 GMT
recorded_with: VCR 3.0.3
