---
http_interactions:
- request:
    method: post
    uri: https://api.insight.ly/v2.1/Organisations
    body:
      encoding: UTF-8
      string: '{"organisation_name":"test","background":"test","work_email":"test","contactinfos":[{"type":"Website","subtype":"","label":"Work","detail":"test.com"}],"addresses":[{"address_type":"work","street":"123
        Ave.","city":"Portland","state":"OR","post_code":"59001","country":"US"}]}'
    headers:
      Authorization:
      - Basic OWU2N2U5OTMtYWU2My00YWZjLWI4NDgtNzFkMWFlMGNmMmE5Og==
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.insight.ly/v2.1/Organisations/102325438
    body:
      encoding: UTF-8
      string: '{"ORGANISATION_ID":102325438,"ORGANISATION_NAME":"test","BACKGROUND":"test","IMAGE_URL":null,"OWNER_USER_ID":1290033,"DATE_CREATED_UTC":"2017-03-06
        08:13:10","DATE_UPDATED_UTC":"2017-03-06 08:13:10","VISIBLE_TO":"EVERYONE","VISIBLE_TEAM_ID":null,"VISIBLE_USER_IDS":null,"CUSTOMFIELDS":[],"ADDRESSES":[{"ADDRESS_ID":52385042,"ADDRESS_TYPE":"work","STREET":"123
        Ave.","CITY":"Portland","STATE":"OR","POSTCODE":null,"COUNTRY":null}],"CONTACTINFOS":[{"CONTACT_INFO_ID":110919798,"TYPE":"WEBSITE","SUBTYPE":null,"LABEL":"Work","DETAIL":"test.com"}],"DATES":[],"TAGS":[],"LINKS":[],"ORGANISATIONLINKS":[],"EMAILLINKS":null}'
  recorded_at: Mon, 06 Mar 2017 08:13:11 GMT
recorded_with: VCR 3.0.3
