---
http_interactions:
- request:
    method: post
    uri: https://api.insight.ly/v2.1/Organisations
    body:
      encoding: UTF-8
      string: '{"organisation_name":"","background":null,"work_email":null,"contactinfos":[{"type":"Website","subtype":"","label":"Work","detail":null}],"addresses":[{"address_type":"work","street":null,"city":null,"state":null,"post_code":null,"country":null}]}'
    headers:
      Authorization:
      - Basic NjZlMzIxYTAtYzQzOC00MTQwLWE0YWEtODg0NmZkZjliMWRlOg==
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"Name":"apiOrg.ORGANISATION_NAME","Message":"ORGANISATION_NAME is
        required"},{"Name":"apiOrg.CONTACTINFOS[0].DETAIL","Message":"DETAIL is required"}]'
  recorded_at: Tue, 07 Mar 2017 04:56:04 GMT
recorded_with: VCR 3.0.3
