body {
  font-family: 'Cantarell', sans-serif;
}

.icon_style{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: white;
    cursor:pointer;
}

.alert {
  position: fixed;
  z-index: 5;
}
