.one-panel {
  width: 100%;
  height: 100vh;
  background-image: url('http://expressionaryevents.com/wp-content/supersized-slides/Aurora_Blur_by_SkateAddiction.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  a {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
}

.two-panel {
  position: relative;
  left: 0;
  width: 100vw;
  video {
    left: 0;
    position: absolute;
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    z-index: -5;
  }
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
    h3 {
      text-shadow: 1px 0px 15px somkewhite;
      text-align: center;
      margin: 0;
      vertical-align: middle;
    }
  }
}

.third-panel{
  width: 100%;
  height: 100vh;
  background-image: url('https://duquets.files.wordpress.com/2014/09/gradient_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    h3, h5 {
      color: #FFCC00;
      text-align: center;
      text-shadow: 1px 1px 3px black;
      margin: 0;
      vertical-align: middle;
    }
  }
}

.four-panel{
  width: 100%;
  height: 55vh;
  background-image: url('work.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 55vh;
    h3 {
      text-shadow: 0px 0px 12px skyblue;

      text-align: center;
      margin: 0;
      vertical-align: middle;
    }
  }
}

.five-panel{
  width: 100%;
  height: 100vh;
  background-image: url('http://www.techandall.com/wp-content/uploads/2013/08/bg9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    h3, ul, li {
      font-size-adjust: auto;
      text-align: center;
      margin: 0;
      vertical-align: middle;
    }
    h3 {
      padding-top: 2%;
      padding-bottom: 2%;
      border: 1px solid white;
    }
  }
}

.smaller {
  padding-top: 3%;
  max-width: 30%;
  max-height: 40vh;
  float: right;
}

.about {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('http://www.newdesignfile.com/postpic/2014/03/wood-grain-background-pattern_89271.jpg');
  margin: 0px;
  p {
    color: white;
  }
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    h3, h1 {
      color: white;
      text-shadow: 0px 0px 5px black;
      font-size-adjust: auto;
      text-align: center;
      margin: 0;
      vertical-align: middle;
    }
  }
}

.memorable {
  width: 100%;
  height: 100vh;
  background-image: url('memorable.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin: 0;
    h3 {
      color: white;
      text-align: center;
      text-shadow: 1px 1px 5px black;
      margin: 0;
      vertical-align: middle;
    }
    p {
      color: white;
      font-size: 20px;
      text-align: center;
      text-shadow: 0px 0px 5px black;
      margin: 0;
      vertical-align: middle;
    }
  }
}

.make_it {
  width: 100%;
  height: 100vh;
  background-image: url('make.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    h3 {
      text-align: center;
      text-shadow: 1px 1px 3px black;
      margin: 0;
      vertical-align: middle;
    }
    p {
      color: yellow;
      font-size: 20px;
      text-align: center;
      text-shadow: 5px 2px 3px black;
      margin: 0;
      vertical-align: middle;
    }
  }
}

.measurable {
  width: 100%;
  height: 100vh;
  background-image: url('measurable.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    h3 {
      text-align: center;
      text-shadow: 1px 1px 3px black;
      margin: 0;
      vertical-align: middle;
    }
    p {
      color: yellow;
      font-size: 20px;
      text-align: center;
      margin: 0;
      vertical-align: middle;
    }
  }
}

#New_Employee_Training {
  height: 100vh;
  background-color: blue;
  h1 {
    margin: 0 !important;
  }
}

#Product {
  height: 100vh;
  background-color: red;
  h1 {
    margin: 0 !important;
  }
}

#Soft {
  height: 100vh;
  background-color: lightblue;
  h1 {
    margin: 0 !important;
  }
}

#Leadership {
  height: 100vh;
  background-color: yellow;
  h1 {
    margin: 0 !important;
  }
}

#Training {
  height: 100vh;
  background-color: black;
  h1 {
    margin: 0 !important;
  }
}

#Facilitation {
  height: 100vh;
  background-color: red;
  h1 {
    margin: 0 !important;
  }
}

#Training {
  height: 100vh;
  background-color: brown;
  h1 {
    margin: 0 !important;
  }
}
