<html>
<head>
<style>
  h1  {color: white;}
  h3  {color: white;}
  .container {padding-top: 10px; margin: 30px 50px 30px 50px;}
  .center {text-align: center;}
  .border {border-bottom: 1px solid white;}
</style>
</head>
  <body>
    <div class="container">
      <div class="border">
        <h1 class="center">Step one is already done!</h1>
      </div>

      <h3>We are now one step closer to filling your training needs.</h3>

      <h3>Here’s what’s going to happen next.</h3>

      <h3>After reviewing your request, I will be reaching out to you either via phone or email.</h3>

      <h3>Our first meeting will be focused around your organization and training needs.  We will workout a time for us to meet up for about 30 minutes to review your situation.</h3>

      <h3>And don’t forget, the more the merrier when we meet.  After we arrange the first consult meeting, please feel free to invite any other key players.</h3>

      <h3>I look forward to speaking with you soon!</h3>

      <h3>Best,</h3>

      <h3>Steve Two Two</h3>
    </div>
  </body>
</html>
